<h1 class="text-center mt-3 mb-5">Manage Courses</h1>
<form action="#">
  <div class="mb-1 p-2 text-center">
    <label class="form-label">ID</label>
    <input #txtId type="text" class="form-control text-center" placeholder="Enter ID">
  </div>
  <div class="mb-1 p-2 text-center">
    <label class="form-label">Descriptor</label>
    <input #txtDescription type="text" class="form-control text-center" placeholder="Enter description">
  </div>
  <div class="mb-1 p-2 text-center">
    <label class="form-label">Duration</label>
    <input #txtDuration type="text" class="form-control text-center" placeholder="Enter duration">
  </div>
  <div class="d-flex justify-content-center">
    <button type="submit" (click)="saveCourse(txtId,txtDescription,txtDuration)" class="btn btn-primary">SAVE</button>
  </div>
</form>
<div class="m-3">
  <table class="table table-bordered table-hover">
    <thead>
    <tr>
      <th class="text-center">ID</th>
      <th class="text-center">Description</th>
      <th class="text-center">Duration</th>
      <th class="text-center">Actions</th>
    </tr>
    </thead>
    <tbody *ngFor="let course of courseList">
    <tr>
      <td class="text-center">{{course.id}}</td>
      <td class="text-center">{{course.description}}</td>
      <td class="text-center">{{course.duration}}</td>
      <td>
        <div (click)="deleteCourse(course.id)" class="d-flex justify-content-center delete" title="Edit">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
            <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
          </svg>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
